#summonerDetails {
    background-image: url('../img/championImage.png');
    width: 400px;
    height: 160px;
}

#summonerDetails:hover {
    cursor: pointer;
}

#summonerDetailsHover:hover {
    position: absolute;
    width: 400px;
    height: 160px;
    background-image: url('../img/championHighlight.png');
}

#red #summonerDetails {
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

#summonerText p {
    text-align: right;
    margin: 0;
}
