body {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.team {
    background-color: red; /* temp */
    width: 350px;
}

#redTeam {
    float: left;
}

#purpleTeam {
    float: right;
}

.summoner {
    width: 298px;
    margin: 25px;
    border: 1px solid black;
}

#centreSection {
    float: left;
    width: calc(100% - 700px); /* page width - 2 columns */
}

#detailedSummoner {
    background-color: blue; /* temp */
    width: 500px;
    margin: 50px auto;
}
