<!doctype html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="css.css">
    </head>
    <body ng-app="myApp">
        <section ng-controller="TabController as tab" id="content-container">
            <div ng-init="summoners = [
                {summonerName:'Tactick', championName:'Ahri', team:'blue', index:1},
                {summonerName:'Helgrimm', championName:'Vayne', team:'blue', index:2},
                {summonerName:'Aklith', championName:'Pantheon', team:'blue', index:3},
                {summonerName:'Ketesha', championName:'Leona', team:'purple', index:4},
                {summonerName:'Nerdy4tw', championName:'Thresh', team:'purple', index:5},
                {summonerName:'ShadowedSun', championName:'Morgana', team:'purple', index:6}
            ]">
                <div id="redTeam" class="team">
                    <ul>
                        <li id="userList" ng-class="{ active:tab.isSet($index + 1) }" ng-repeat="summoner in summoners | filter:{team: 'blue'}">
                            <div class="redSummoner summoner">
                                <a href="" ng-click="tab.setTab(summoner.index)">{{summoner.summonerName}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="centreSection">
                    <div id="detailedSummoner">
                        <h3>Customer Details</h3>
                        <div ng-repeat="summoner in summoners">
                            <div class='box-show animate-show' ng-show='tab.isSet($index + 1)'>
                                <p><b>Summoner Name:</b> {{summoner.summonerName}}</p>
                                <p><b>Champion:</b> {{summoner.championName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="purpleTeam" class="team">
                    <ul>
                        <li id="userList" ng-class="{ active:tab.isSet($index + 1) }" ng-repeat="summoner in summoners | filter:{team: 'purple'}">
                            <div class="purpleSummoner summoner">
                                <a href="" ng-click="tab.setTab(summoner.index)">{{summoner.summonerName}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>
