<form ng-submit="submitSummonerSearch()">
    <input ng-model="search" placeholder="Summoner Name">
    <select ng-model="server">
        <option value="br">Brazil</option>
        <option value="eune">Europe Nordic &amp; East</option>
        <option value="euw">Europe West</option>
        <option value="kr">South Korea</option>
        <option value="lan">Latin America North</option>
        <option value="las">Latin America South</option>
        <option value="na">North America</option>
        <option value="oce">Oceania</option>
        <option value="ru">Russia</option>
        <option value="tr">Turkey</option>
    </select>
    <button>Search</button>
    {{error}}
</form>
