<a style="color: black" href="#/{{server}}/{{summonerGame}}/{{summoner.summonerName}}">
    <div id="summonerDetails">
        <div id="summonerDetailsHover"></div>
        <div id="summonerText" style="padding: 30px; height: 100px;">
            <p style="text-align: right; margin: 0;">{{summoner.summonerName}}</p>
            <p style="text-align: right; margin: 0;">{{summoner.championName}}</p>
            <p style="text-align: right; margin: 0;">{{summoner.rank}}</p>
        </div>
        <div id="summonerStreak"></div>
    </div>
</a>
